@font-face {
	font-family: 'Exo2.0'; 
	src: local('Exo2.0') ,	url(../src/assets/fonts/Exo2.0-Thin.otf); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: url(./assets/img/pattern.png) no-repeat center center fixed;
  background-size: cover;

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    //заменил тень, была вставлена png-шкой
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(243, 243, 243, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  }
}

.App {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.main-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    // В Макете не отображается шрифт заголовка, он очевидно не стандартный
    h1 {
      font-family: 'Exo2.0';
      color: white;
      font-weight: 250;
      font-size: 50px;
    }
}



